@font-face {
    font-family: 'Ubuntu';
    src: url(/public/assets/fonts/Ubuntu-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(/public/assets/fonts/Ubuntu-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(/public/assets/fonts/Ubuntu-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(/public/assets/fonts/Ubuntu-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(/public/assets/fonts/Ubuntu-Bold.ttf);
    font-weight: 700;
    font-style: inormal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(/public/assets/fonts/Ubuntu-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}